* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body {
    background: rgb(0, 0, 0);
    color: #fff;
}

#header {
    width: 100%;
    height: 100vh;
    background-image: url(/images/mybackground.jpeg);
    background-size: cover;
    background-position: center;
   
}

.container {
    padding: 20px 10px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

}

.logo {
    width: 140px;


}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;

}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 15px;
    position: relative;

}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    /* color: #0026ff; */
    background: #d4b736;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;

}

nav ul li a:hover::after {
    width: 100%;
    /* color: #ff0000; */

}

.header-text {
    margin-top: 20%;
    font-size: 30px;

}

.header-text h2 {
    font-size: 55px;
    margin-top: 20px;

}

.header-text h2 span {
    color: #d4b736;
}

/* **************************************************************************8 */
#about {
    padding: 80px 0;
    color: rgb(236, 236, 235);
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.column1 {
    flex-basis: 35%;

}

.column1 img {
    width: 100%;
    border-radius: 15px;

}

.column2 {
    flex-basis: 59%;

}

.abouthead {
    font-size: 39px;
    font-weight: 600;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.aboutlink {

    display: flex;
    margin: 20px 0 40px;
}

.link {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.link::after{
    content: '';
    width: 0;
    height: 3px;
    background: #d4b736;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 1s;
}
.link:hover::after{
    width: 100%;
}
.link.active-link::after{
   width: 50%;
}
.about-data{
margin-top: 15px;
margin-bottom: 15px;
}
.skillhead {
    color: #d4b736;
    font-size: 18px;
    text-decoration: underline;
    font-weight: 700;
}
.about-data{
    display: none;

}
.about-data.active-tab{
    display: block;
}
/* //////////////////////////////////SERVICES///////////////////////////////
 */
 #services{
    padding: 30px 0;

 }
 .service-list{
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(250px ,  1fr));
    grid-gap: 40px;
    margin-top: 50px;
 }
 .service-list div{
    background: #262626;
    padding: 30px;
    font-size: 13px;
    font-weight: 300;
    border-right: 10px;
    border-radius: 15px;
    transition: background 1s , transform 0.5s;

 }
 .service-list div i{
    font-size: 50px;
    margin-bottom: 30px;
 }
 .service-list div h2{
    font-size: 39px;
    font-weight: 600;
    margin-bottom: 15px;

 }
 .service-list div p{
    font-size: 15px;
    font-weight: 200;
margin-bottom: 15px;
 }

 .service-list div:hover{
    cursor: pointer;
    background: #fff200;
    transform: translateY(-20px);
    transform: translateX(-20px);
    color: #262626;
 }
 .service-list div a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
 }
 /* /////////////////////////////////////////////Portfolio//////////////////////////////// */
 #portfolio{
    padding: 50px 0;
    margin-left: 55px;

 }
 .worklist{
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(250px ,  1fr));
    grid-gap: 40px;
    margin-top: 50px;
 }
 .work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
 }
 .work img{
 width: 100%; 
 height: 370px;  
 border-radius: 10px;
 display: block;
 transition: tansform 1s;
}
.layer{
    width: 100%;
    height: 0;
    background:linear-gradient(rgba(0,0,0,0.6), #eeee2f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0,40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
    /* color: black; */

}
.layer a{
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}
.btn{
    display: block;
    margin: 50px auto ;
    width: fit-content;
    border: 2px solid #ff1500;
    padding: 14px 50px;
    border-radius: 20px;
    text-decoration: none;
    color: white;

}
.btn:hover{
    background: #ff0000;
    transition: background 0.5s;
    color: #262626;
   font-size: 25px;
   transition: font-size 0.5s;
   text-decoration: underline;
}
/* /////////////////////////////////////////////////////////////////////////// */
.contact-left{
    flex-basis: 35%;
  
}
.contact-right{
    flex-basis: 60%;
  
}
.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    color: #0026ff;
    margin-right: 15px;
    font-size: 25px;
}
.social-icons{
    margin-top: 30px;}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: traqnsform 1s
}   
.social-icons a:hover{
    color: #0400ff;
    transform: translateY(-10px);
} 
.btn.btn2{
    display: inline-block;
    background: #ff0000;
}
contact-right form{
    width: 100%;

}
form input , form textarea{
width: 70%;
border: 0;
outline: none;
background: #262626;
padding: 15px;
margin: 15px 0;
color: #fff;
font-size: 18px;
border-radius: 6px;
}
form btn2{
    padding: 14px 60px;
    font-size: 50px;
    margin-top: 20px;
    cursor: pointer;
   
}
.copyright{
    width: 100% ;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 600;
    margin-top: 20px;
}
/* ////////////////////////////////// */
/* css for small screen */
nav .fas{
    display: none;
}
@media only screen and (max-width:600px){
    .header{
        background-image: url(images/phone-background.png);
    }
    .header-text {
        margin-top: 100%;
        font-size: 16px;
    }
    .header-text h2{
        font-size: 30px;
    }
    nav .fas{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background: #ff004f;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;

    }
    nav ul li{
        display: block;
        margin: 25px;

    }
    nav ul .fas{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .abouthead{
        font-size: 40px;

    }
    .column1  , .column2{
        flex-basis: 100%;
    }
}
#msg{
    color: #61b752;
    margin-top: -40px;
    display: block;
}





/* .layer:hover{
    width: 100%;
    height: 100%;
    background:linear-gradient(rgba(0,0,0,0.6), #dc386c);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0,40px;
    text-align: center;
    transition: 0.5s;
    
} */